.pageContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.selectedPage {
    font-weight: 800;
    font-size: 16px;
    margin-right: 10px;
}

.page {
    margin-right: 10px;
    display: block;
}

.usersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.user {
    flex-basis: 28%;
}