.postsBlock {
    padding: 20px;
}

.posts {
    margin-top: 20px;
}

.textarea {
    resize: none;
    padding: 10px;
    width: 94%;
}

.send {
    background: #304040;
    color: #fff;
    width: 120px;
    height: 30px;
    border: none;
    transition: all ease .5s;
    cursor: pointer;
}
.send:hover {
    background: #1b3131;

}

.areaField {
    resize: none;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
}