.preloader {
    width: 100%;
    height: 100vh;
    position: absolute;
    background-color: #04202C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    z-index: 10;
}

.loaderName {
    color: white;
}