.preloader{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: #04202C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 33%;
    z-index: 10;
}

