.header {
    grid-area: header;
    background-color: #304040;
    padding: 20px;
    z-index: 10;
    color: #C9D1C8;
}

.logoutBtn {
    background-color: #5B7065;
}

.logoutBtn:hover {
    background-color:#C9D1C8;

}
  
  .header img {
    width: 20px;
    
  }
  .logInBtn {
      float:right;
  }

  .name {
      margin-right: 30px;
  }