
.item {
  background: #fff;
  width: 100%;
  display: flex;
  gap: 50px;
}

.item + .item {
  margin-top: 20px;
}

.content__img {
  max-height: 300px;
  width: 100%;
}

.avatar__img {
  width: 100px;
}

.likes {
  color: blueviolet;
  font-weight: 800;
}

.itemImg {
  max-width: 90px;
}