.app-wrapper {
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  margin:0 auto;
  max-width: 1300px;
  color: #333;
  grid-template-areas: 
  "header header header"
  "nav content content"
  ;
  font-family: 'Roboto';
}

.app-wrapper-content {
  grid-area: content;
  background-color: #C9D1C8;
}


