.app-wrapper {
  display:grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  max-width:1200px;
  margin:0 auto;
  grid-template-areas: 
  "header header header"
  "nav content content"
  ;
}

.app-wrapper-content {
  grid-area: content;
  background-color: seashell;
}


